
# This is the ssh server system-wide configuration file.  See
# sshd_config(5) for more information.

# The following resources were used to build this configuration file:
# - https://static.open-scap.org/ssg-guides/ssg-ubuntu2204-guide-cis_level2_server.html#!
# - https://static.open-scap.org/ssg-guides/ssg-ubuntu2004-guide-stig.html#!
# - https://github.com/drduh/config/blob/main/sshd_config

ClientAliveCountMax 3
ClientAliveInterval 300
HostbasedAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no
StrictModes yes
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys
IgnoreRhosts yes
PermitRootLogin no
AllowTcpForwarding no
X11Forwarding no
PermitUserEnvironment no
UsePAM yes
Banner /etc/issue
LoginGraceTime 60
LogLevel INFO
MaxAuthTries 4
MaxSessions 10
MaxStartups 10:30:60
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
KexAlgorithms ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256
HostKeyAlgorithms rsa-sha2-512,rsa-sha2-256,ssh-ed25519
