# Rocky Linux - Server (Minimal)
# https://pykickstart.readthedocs.io/en/latest/
# https://docs.rockylinux.org/10/guides/automation/kickstart-rocky/
# https://docs.rockylinux.org/10/guides/automation/templates-automation-packer-vsphere/#the-kscfg-file
# https://docs.redhat.com/en/documentation/red_hat_enterprise_linux/9/html/automatically_installing_rhel/creating-kickstart-files_rhel-installer

text

%addon com_redhat_kdump --disable
%end

keyboard --xlayouts='us'
lang en_US.UTF-8
timezone US/Eastern --utc

network --bootproto=dhcp --device=link --activate
network --hostname=rocky

# Lock root, user1 obtains sudo access via wheel
rootpw --lock
user --name=user1 --plaintext --password=packer --groups=wheel

zerombr
clearpart --all --initlabel --disklabel=gpt
autopart

selinux --enforcing
firewall --enabled --ssh

# https://wiki.rockylinux.org/rocky/image/#notes-about-what-does-each-iso-do
%packages
@^minimal-environment
@guest-agents
@security-tools
git
openssh-server
python3-pip
tmux
%end

%post
echo 'user1 ALL=(ALL:ALL) NOPASSWD:ALL' > /etc/sudoers.d/user1
chmod 440 /etc/sudoers.d/user1
systemctl enable sshd

# Requiring a password change on first interactive login will
# break Ansible provisioning during the packer build.
# chage -d 0 user1

%end

reboot